<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
        }

        input {
            margin-bottom: 10px;
            padding: 5px;
        }

        h1 {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" action="/user/login">

        <label for="Email">Email</label>
        <input type="text" name="email" required>

        <label for="password">Password</label>
        <input type="text" name="password" required>

        <input type="submit" value="Login">

    </form>
</body>
</html>